.net_online{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1100;
    background-color: green;
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}


.net_offline{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1100;
    background-color: red;
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
